/* Mobile First Approach */
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
:root {
    --primary: white;
    --secondary: black;
  }


/* Header  */

.mainHeader{
    height: 80vh;
    width: 100%;
    background-image: url('images/header.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.navbar{
    background-color: var(--secondary);
    padding: 0;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.navbar_list{
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow: 20;
    flex-shrink: 1;
    display: flex;    

}

.navbar_list div{
    display: none;
}
.navbar_list_items{
    padding: 20px;
    list-style-type: none;
    display: block;
    align-content: flex-start;
}
.navbar_list_items a{
    text-decoration: none;
    color: var(--primary);
}
.navbar_list_items:hover{
  transform: rotateX(360deg);
  background-color: black;
  transition: 2s;
}
.menu{
    flex-grow: 1;
    box-sizing: border-box;
    display: block;
    color: var(--primary);
    margin: 0;
    text-align: center;
    padding: 20px;
}
.menu .fa-search{
    display: none;
}

.heading_title, .heading_content{
    display: none;

}

/* ----------Header----------- */

/* Contact  */

.contactSection{
    margin: 0;
    padding: 30px 10px;
}

.contactSection h1{
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 0;
}
.header_heading{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;    
    width: max-content;
}
.header_heading span{
    text-transform: uppercase;
    display: block;
}
.heading_title{
    color: wheat;
    margin-bottom: 20px;
    font-size: 80px;
    padding: 9px 18px;
    font-weight: 700;
    letter-spacing: 8px;
    background: black;
    position: relative;
    animation: text 3s 1;
}
.heading_content{
    font-size: 40px;
    color: #fff;
    background-color: black;
    padding: 5px 10px;
}
@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
.contactSection h1{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    width:  max-content;
    padding: 8px 16px;
    text-transform: uppercase;
}
.contactSection p{
    text-align: center;
    margin-top: 0;
    margin: auto;
    width: max-content;
    padding: 8px 16px;
    text-transform: uppercase;
}
.contactSection h1,.contactSection p{
    background-color: rgb(17, 17, 17);
    position: relative;
    color: white;
}
.contact_section__headings{
    width: max-content;
    margin: auto;
    animation-name: contactsection;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes contactsection {
        0%   {background-color:aqua;}
        10%  {background-color: blueviolet;}
        20%  {background-color: rgb(226, 49, 43);}
        30%  {background-color: rgb(226, 116, 43);}
        40%  {background-color: rgb(226, 223, 43);}
        50%  {background-color: rgb(101, 226, 43);}
        60%  {background-color: rgb(43, 226, 165);}
        70%  {background-color: rgb(43, 128, 226);}
        80%  {background-color: rgb(205, 43, 226);}
        90%  {background-color: rgb(243, 83, 171);}
        100%  {background-color: rgb(245, 48, 48);}
}
.contactSection form{
    display: flex;
    flex-direction: column;
}
.formicons{
    margin-right: 15px;
    
}
.contactInputFields{
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;

}
.contactBtn{
    padding: 10px 30px;
    font-size: 20px;
    color: var(--primary);
    background-color: #000;
    text-decoration: none;
    border: none;
    outline: none;
    transition-duration: 0.8s;
    margin-right: 10%;
    float: right;
    border-radius: 40px;
}
.contactBtn:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.315),0 17px 50px 0 rgba(0, 0, 0, 0.397);
}

/* ---------Contact--------- */

/*---------------- Foooter--------- */
.mainFooter{
    padding: 75px 0;
    background-color:rgb(233, 233, 233);
}
.mainFooter div{
    width: 270px;
    margin: auto;
    text-align: center;
}
.social-icons{
    font-size:30px;
    cursor: pointer;
}


/*---------------- Foooter--------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* Header  */
    .navbar_list div{
        display: inline;
    }   

    .navbar_list_items{
        display: inline-block;
    }

    .menu .fa-bars{
        display: none;
    }
    .menu .fa-search{
        display: inline;
    }



    /* Contact  */
    
    .contactSection form{
        
        flex-direction: row;
    }
    .formicons{
        margin-bottom: 10px;
    }
    .contact_fields,.contact_info{
        width: 50%;
    }
    .contact_fields{
        text-align: left;
    }
    .nameField, .emailField{
        display: inline-block;
        width: 42.5%;
    }
    .messageField{
        width: 89%;
    }

}

/* tour dates */
.tourSection{
    background-color: var(--secondary);
}
.toursection-1{
    padding-top: 80px;
}
.toursection-1 h1{
    color: var(--primary);
    text-align: center;
    letter-spacing: 5px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.toursection-1 p{
    color: rgb(192, 192, 192);
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}
/* Booking-table */
.booking_tabel{
    background-color: var(--primary);
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 30px;
}
.booking_tabel ul li{
    padding: 20px 10px;
    list-style-type: none;
}
.booking_tabel .span_1{
    background-color: rgb(255, 72, 72);
    margin-left: 2%;
    color: var(--primary);
    padding: 5px;
}
.booking_tabel .span_2{
    background-color: rgb(255, 72, 72);
    margin-left: 5%;
    color: var(--primary);
    padding: 5px;
}

.booking_tabel .span_3{
    background-color: var(--secondary);
    color: var(--primary);
    margin-right: 10%;
    float: right;
    padding: 4px 7px;
    border-radius: 50%;
}
.newyork_tour,
.paris_tour,
.SanFrancisco_tour{
    width: 90%;
}
.newyork_tour img,
.paris_tour img,
.SanFrancisco_tour img{
    width: 100%;
    height: 90vh;
}

.tour_places{
   margin: 0;
   padding: 0;
}
.place_details{
    background-color: var(--primary);
}
.tour_places h4{
    margin-top: 0;
    padding: 8px;
    font-weight: bold;
    color: var(--secondary);
}
.tour_places .tour_places-date{
    color: rgb(172, 172, 172);
    padding: 8px;
}
.tour_places p{
    color: var(--secondary);
    padding: 8px;
}
.tour_places button{
    padding: 8px 16px;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    font-size: 15px;
    margin: 10px;
}
/* -------------Tour dates------------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
/* booking places  */
.booking_tabel{
    background-color: var(--primary);
    width: 580px;
    justify-content: center;
    margin: auto;
}
/* ----------booking places  */
/* tour_places */
.tour_places{
display: flex;
text-align: center;
justify-content: center;
margin: auto;
}
.newyork_tour,
.paris_tour,
.SanFrancisco_tour{
 width: 180px;
 margin-bottom: 10%;
}

.newyork_tour img,
.paris_tour img,
.SanFrancisco_tour img {
 width: 100%;
 height: 45%;
}
.place_details{
 background-color: var(--primary);
}
.tour_places h4{
 padding-left: 10px;
 font-weight: bold;
 color: var(--secondary);
}
.tour_places .tour_places-date{
 color: rgb(148, 148, 148);
 padding-left: 10px;
 font-size: 12px;
}
.detail{
 color: var(--secondary);
 padding-left: 10px;
 font-size: 13px;
}
.tour_places button{
 padding: 8px 16px;
 background-color: var(--secondary);
 color: var(--primary);
 border: none;
 font-size: 15px;
 margin: 10px;
}
.header_heading{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;    
    width: max-content;
}
.header_heading span{
    text-transform: uppercase;
    display: block;
}
.heading_title{
    color: wheat;
    margin-bottom: 20px;
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 8px;
    background: black;
    position: relative;
    animation: text 3s 1;
}
.heading_content{
    font-size: 40px;
    color: #fff;
    background-color: black;
}

/* -----------tour places-------------- */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/* tour-places */
.toursection-1{
padding-top: 60px;
}
.toursection-1 h1{
color: var(--primary);
text-align: center;
letter-spacing: 6px;
font-weight: bold;
margin-bottom: 25px;
}
.toursection-1 p{
color: rgb(192, 192, 192);
text-align: center;
font-style: italic;
margin-bottom: 20px;
font-size: 16px;
}


/* -----------tour places-------------- */
}

/* extra small devices  */
@media only screen and (min-width: 300px) {
    .menu{
        display: none;
    }
    .header_heading{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;    
        width: max-content;
    }
    .header_heading span{
        text-transform: uppercase;
        display: block;
    }
    .heading_title{
        color: wheat;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 8px;
        background: black;
        position: relative;
        animation: text 3s 1;
    }
    .heading_content{
        font-size: 12px;
        color: #fff;
        background-color: black;
    }
    .tour_places{
        text-align: center;
        padding: 40px 20px;
    }
    .tour_places div{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .tour_places img{
        width: 100%;
        height: 250px;
    }
    .contact_fields input,.contact_fields button{
        margin-top: 20px;
    }
    @keyframes text{
        0%{
            color: black;
            margin-bottom: -20px;
        }
        30%{
            letter-spacing: 25px;
            margin-bottom: -20px;
        }
        85%{
            letter-spacing: 8px;
            margin-bottom: -20px;
        }
    }
}

@media (max-width: 600px){
    .navbar{
        display: none;
    }
}